.our-work-wrapper
  background-color: #f5f5f5
  padding-bottom: 50px

.our-work
  width: 1230px
  margin: 55px auto 0 auto
  padding-top: 50px

  h2
    text-align: center
    font-size: 3.5rem
    font-weight: 100
    margin-bottom: 4rem


.our-work-slider
  position: relative
  width: 706px
  min-height: 400px
  margin: 0 auto

  .arrow
    top: 45%
    position: absolute
    z-index: 1
    display: flex
    justify-content: center
    align-items: center
    @include beveled-corners(#e0e0e0, 5px, 0, 0, 0)
    width: 45px
    height: 45px
    cursor: pointer

  .left-arrow
    left: -165px

  .right-arrow
    right: -165px
    img
      transform: rotate(180deg)

  .active
    @include beveled-corners($red, 5px, 0, 0, 0)


.our-work-slider__item
  //padding: 0 50px

.our-work-slider__item-image-wrapper


.our-work-slider__item-before
  position: absolute
  top: 50px
  left: 20px

.our-work-slider__item-after
  position: absolute
  top: 50px
  right: 20px

.our-work-slider__item-img
  position: absolute
  top: 0
  left: 0

.ows-before
  width: 50%
  overflow: hidden
  z-index: 2


.ows-before-img-wrapper
  position: relative

.ows-slide
  cursor: pointer
  width: 3px
  height: 100%
  background-color: $white
  position: absolute
  left: 50%
  top: 0
  z-index: 3
  div
    position: relative
    height: 100%
    img
      width: 50px
      height: 24px
      position: absolute
      top: 45%
      left: -23px
      z-index: 4
      background-color: transparent


.ows-after
  z-index: 1

.ows-before-stick
  position: absolute
  z-index: 4
  top: 20px
  left: -20px
  padding: 5px 8px
  color: $black
  @include beveled-corners($yellow, 5px, 0, 0, 0)

.ows-after-stick
  position: absolute
  z-index: 4
  top: 20px
  right: -20px
  padding: 5px 8px
  color: $white
  @include beveled-corners($red, 5px, 0, 0, 0)

.ows-dots
  position: absolute
  top: -50px
  left: -50px

.our-work-slider-nav
  list-style-type: none
  display: flex
  justify-content: center
  li
    cursor: pointer
    margin-left: 25px

@media screen and (max-width: 1024px)
  .our-work
    width: 98%
    padding: 1%

  .our-work-slider
    .left-arrow
      left: -20%
    .right-arrow
      right: -20%


@media screen and (max-width: 768px)
  .ows-dots
    display: none

  .our-work-slider
    .arrow
      top: 106%
    .left-arrow
      left: -10px
    .right-arrow
      right: -10px

  .our-work-slider-nav
    ul
      padding: 0 50px
      li
        &:first-child
          margin-left: 0

        img
          width: 100%

@media screen and (max-width: 480px)
  .our-work-wrapper
    padding: 0

  .our-work
    overflow: hidden
    margin: 0
    padding-bottom: 55px
    h2
      font-size: 3rem

  .our-work-slider
    width: 100%

    .arrow
      top: 115%
    .left-arrow
      left: 0
    .right-arrow
      right: 0

  .ows-before-stick
    left: 0

  .ows-after-stick
    right: 0

  .our-work-slider-nav
      ul
        padding: 0

@media screen and (max-width: 320px)
  .our-work
    padding-bottom: 75px
