// Colors
$red: #da1315
$white: #fff
$bg-color: #fafafa
$black: #000
$yellow: #ffcd00

// Fonts
@font-face
  font-family: "SquaresBold"
  src : url("../fonts/SquaresBold.otf")

@font-face
  font-family: "SquaresRegular"
  src : url("../fonts/SquaresRegular.otf")


html, body
  margin: 0
  padding: 0
  font-size: 14px
  background-color: $bg-color
  font-family: "SquaresRegular", sans-serif

.container
  width: 1024px
  margin: auto

  padding: 0 1rem 2rem 1rem

@media screen and (max-width: 1024px)
  .container
    width: 94%
    padding: 3%
    overflow: hidden

@import "header"
@import "slider"
@import "services"
@import "advantages"
@import "testimonials"
@import "our-work"
@import "about"
@import "contact"
@import "footer"









